<section class="hero">
  <div class="hero__top hero-decors">
    <div class="container">
      <h2 class="hero__title text-p-default">Pricing plans 🤑</h2>
      <p class="hero__descr heading-h1">
        Choose a plan for a more advanced business
      </p>
      <label class="hero__switcher-wrapper">
        <span class="hero__switcher">
          <input
            class="hero__switcher-checkbox"
            type="checkbox"
            data-price="switcher"
          />
        </span>
        <span class="hero__switcher-text text-p-default"
          >Annual pricing (save 20%)</span
        >
      </label>
    </div>
  </div>
  <div class="container">
    <ul class="hero__plans">
      <li class="hero__item">
        <div class="hero__plans-icon">
          <svg
            width="20"
            height="18"
            viewBox="0 0 20 18"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.31802 2.31802C0.56066 4.07538 0.56066 6.92462 2.31802 8.68198L10.0001 16.364L17.682 8.68198C19.4393 6.92462 19.4393 4.07538 17.682 2.31802C15.9246 0.56066 13.0754 0.56066 11.318 2.31802L10.0001 3.63609L8.68198 2.31802C6.92462 0.56066 4.07538 0.56066 2.31802 2.31802Z"
              stroke="#1D1E25"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3 class="hero__plans-title text-p-large">Starter</h3>
        <p class="hero__plans-descr text-p-default">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div class="hero__plans-price heading-h2">
          <span data-price="starter">$100</span>
          <span class="hero__plans-price-text text-p-default">/mo</span>
        </div>
        <h4 class="hero__plans-list-title text-p-default">What’s included:</h4>
        <ul class="hero__plans-list text-p-default">
          <li class="hero__plans-item">Unlimited Upload</li>
          <li class="hero__plans-item">Advanced Statistic</li>
          <li class="hero__plans-item">Profile Badge</li>
          <li class="hero__plans-item">Access to the community</li>

          <li class="hero__plans-item hero__plans-item--inaccess">
            History of all Liked Photos
          </li>
          <li class="hero__plans-item hero__plans-item--inaccess">
            Directory Listing
          </li>
          <li class="hero__plans-item hero__plans-item--inaccess">
            Customize Your Profile
          </li>
          <li class="hero__plans-item hero__plans-item--inaccess">
            Display Your Workshops
          </li>
        </ul>
        <div class="hero__plans-btn-wrapper">
          <button class="hero__plans-btn text-p-default">Chose Plan</button>
        </div>
      </li>

      <li class="hero__item hero__item--popular">
        <div class="hero__plans-icon hero__plans-icon--popular">
          <svg
            width="18"
            height="20"
            viewBox="0 0 18 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 8V1L1 12H8L8 19L17 8L10 8Z"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3 class="hero__plans-title hero__plans-title--popular text-p-large">
          Popular
        </h3>
        <p class="hero__plans-descr text-p-default">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div class="hero__plans-price hero__plans-price--popular heading-h2">
          <span data-price="popular">$1400</span>
          <span class="hero__plans-price-text text-p-default">/mo</span>
        </div>
        <h4
          class="hero__plans-list-title hero__plans-list-title--popular text-p-default"
        >
          What’s included:
        </h4>
        <ul class="hero__plans-list text-p-default">
          <li class="hero__plans-item hero__plans-item--popular">
            Unlimited Upload
          </li>
          <li class="hero__plans-item hero__plans-item--popular">
            Advanced Statistic
          </li>
          <li class="hero__plans-item hero__plans-item--popular">
            Profile Badge
          </li>
          <li class="hero__plans-item hero__plans-item--popular">
            Access to the community
          </li>

          <li class="hero__plans-item hero__plans-item--inaccess">
            History of all Liked Photos
          </li>
          <li class="hero__plans-item hero__plans-item--popular">
            Directory Listing
          </li>
          <li class="hero__plans-item hero__plans-item--inaccess">
            Customize Your Profile
          </li>
          <li class="hero__plans-item hero__plans-item--inaccess">
            Display Your Workshops
          </li>
        </ul>
        <div class="hero__plans-btn-wrapper">
          <button
            class="hero__plans-btn hero__plans-btn--popular text-p-default"
          >
            Chose Plan
          </button>
        </div>
      </li>

      <li class="hero__item">
        <div class="hero__plans-icon">
          <svg
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2 8L3.304 9.043C3.75828 9.40635 4.28636 9.66624 4.85139 9.80456C5.41643 9.94287 6.00484 9.95628 6.57559 9.84384C7.14634 9.7314 7.6857 9.49583 8.15606 9.15355C8.62642 8.81126 9.01647 8.3705 9.299 7.862L12 3L14.701 7.862C14.9836 8.37042 15.3737 8.81109 15.8441 9.15328C16.3145 9.49546 16.8539 9.73093 17.4247 9.84327C17.9954 9.95561 18.5838 9.94212 19.1488 9.80373C19.7138 9.66534 20.2418 9.40539 20.696 9.042L22 8L20.246 16.77C20.1694 17.1527 20.0065 17.5129 19.7696 17.8231C19.5327 18.1333 19.2281 18.3854 18.879 18.56C16.7432 19.628 14.388 20.184 12 20.184C9.61202 20.184 7.25684 19.628 5.121 18.56C4.77193 18.3854 4.46733 18.1333 4.23043 17.8231C3.99353 17.5129 3.83058 17.1527 3.754 16.77L2 8Z"
              stroke="#1D1E25"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
            <path
              d="M8 15C10.596 16.333 13.404 16.333 16 15"
              stroke="#1D1E25"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </div>
        <h3 class="hero__plans-title text-p-large">Enterprise</h3>
        <p class="hero__plans-descr text-p-default">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
        <div class="hero__plans-price heading-h2">
          <span data-price="enterprice"> $2100 </span>
          <span class="hero__plans-price-text text-p-default">/mo</span>
        </div>
        <h4 class="hero__plans-list-title text-p-default">What’s included:</h4>
        <ul class="hero__plans-list text-p-default">
          <li class="hero__plans-item">Unlimited Upload</li>
          <li class="hero__plans-item">Advanced Statistic</li>
          <li class="hero__plans-item">Profile Badge</li>
          <li class="hero__plans-item">Access to the community</li>

          <li class="hero__plans-item">History of all Liked Photos</li>
          <li class="hero__plans-item">Directory Listing</li>
          <li class="hero__plans-item">Customize Your Profile</li>
          <li class="hero__plans-item">Display Your Workshops</li>
        </ul>
        <div class="hero__plans-btn-wrapper">
          <button class="hero__plans-btn text-p-default">Chose Plan</button>
        </div>
      </li>
    </ul>
  </div>
</section>
