<section id="get-started" class="get-started">
  <div class="container get-started__container">
    <div class="get-started__form-wrapper">
      <h3 class="get-started__form-title heading-h4">
        Let’s level up your brand
      </h3>
      <p class="get-started__form-text text-p-medium">
        You can reach us anytime
        <a
          class="get-started__form-link"
          href="mailto:hellosansbrothers@gmail.com"
          >hellosansbrothers@gmail.com</a
        >
      </p>
      <form class="get-started__form">
        <div class="get-started__form-top">
          <label class="get-started__form-label">
            <span class="get-started__form-label-text text-p-small">
              First name
            </span>
            <input
              class="get-started__form-input text-p-small get-started__form-input--small"
              type="text"
              name="first-name"
              required
              placeholder="First name"
            />
          </label>
          <label class="get-started__form-label">
            <span class="get-started__form-label-text text-p-small">
              Last name
            </span>
            <input
              class="get-started__form-input text-p-small get-started__form-input--small"
              type="text"
              name="last-name"
              required
              placeholder="Last name"
            />
          </label>
        </div>
        <label class="get-started__form-label">
          <span class="get-started__form-label-text text-p-small"> Email </span>
          <input
            class="get-started__form-input text-p-small"
            type="email"
            name="email"
            required
            placeholder="you@company.com"
          />
        </label>
        <label class="get-started__form-label">
          <span class="get-started__form-label-text text-p-small">
            Phone number
          </span>
          <input
            id="phone"
            class="get-started__form-input text-p-small"
            type="tel"
            name="phone"
            required
            placeholder=""
          />
        </label>
        <label class="get-started__form-label">
          <span class="get-started__form-label-text text-p-small">
            Phone number
          </span>
          <textarea
            class="get-started__form-input get-started__form-input--textarea text-p-small"
            type="text"
            name="message"
            required
            placeholder="Leave us a message..."
          ></textarea>
        </label>
        <button class="get-started__form-btn button-form">Get started</button>
      </form>
    </div>
    <img
      loading="lazy"
      class="get-started__img"
      src="./assets/image/get-started-img.jpg"
      width="987"
      height="885"
      alt="A woman and a man high-five each other"
    />
  </div>
</section>
