<section class="hero">
  <div class="hero-decors">
    <div class="hero__container container">
      <h2 class="hero__title heading-h2">
        Everything you need to get the attention of your <br />
        audience
      </h2>
      <div class="hero__subtitle text-p-subtitle">
        <p class="hero__subtitle-text">
          Our digital agency helps clients develop, implement and maintain
          successful digital marketing strategies across all channels. Also work
          with you to build your website and create online businesses that grow.
        </p>
        <img
          data-dark="dark-theme-image"
          class="hero__subtitle-img"
          src="./assets/icons/about-linked-dark-icon.svg"
          alt=""
        />
      </div>
      <div class="hero__slider-wrapper">
        <div class="hero__slider swiper">
          <div class="hero__slider-btns">
              <svg
                width="28"
                height="18"
                viewBox="0 0 28 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                  stroke="#7E8492"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          <div class="hero__content swiper-wrapper">
            <div class="hero__item swiper-slide">
              <img
                loading="lazy"
                class="hero__item-img"
                src="./assets/image/about-slider-img-1.jpg"
                width="502"
                height="629"
                alt="A desktop with a laptop, a man working at a desk"
              />
            </div>
            <div class="hero__item swiper-slide">
              <img
              loading="lazy"
                class="hero__item-img"
                src="./assets/image/about-slider-img-2.jpg"
                width="502"
                height="370"
                alt="A staff meeting is underway"
              />
              <h5 class="hero__item-title heading-h5">What we believe in</h5>
              <p class="hero__item-descr text-p-medium">
                Over the years at Sans, we’ve put a lot of thought into what it is
                that makes us who we are. The qualities that unite us, that make
                us such an effective team, and...
              </p>
              <button class="hero__item-btn button-form">
                See Details
                <svg
                  width="11"
                  height="12"
                  viewBox="0 0 11 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.82123 4.99536L5.57227 1.2464L9.32123 4.99743"
                    stroke="#60D39C"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5.56978 10.2463L5.57227 1.24634"
                    stroke="#60D39C"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="hero__item swiper-slide">
              <img
                loading="lazy"
                class="hero__item-img"
                src="./assets/image/about-slider-img-3.jpg"
                width="502"
                height="460"
                alt="Two girls are sitting at a table and working on a laptop"
              />
            </div>
            <div class="hero__item swiper-slide">
              <img
                loading="lazy"
                class="hero__item-img"
                src="./assets/image/about-slider-img-1.jpg"
                width="502"
                height="629"
                alt="A desktop with a laptop, a man working at a desk"
              />
            </div>
            <div class="hero__item swiper-slide">
              <img
              loading="lazy"
                class="hero__item-img"
                src="./assets/image/about-slider-img-2.jpg"
                width="502"
                height="370"
                alt="A staff meeting is underway"
              />
              <h5 class="hero__item-title heading-h5">What we believe in</h5>
              <p class="hero__item-descr text-p-medium">
                Over the years at Sans, we’ve put a lot of thought into what it is
                that makes us who we are. The qualities that unite us, that make
                us such an effective team, and...
              </p>
              <button class="hero__item-btn button-form">
                See Details
                <svg
                  width="11"
                  height="12"
                  viewBox="0 0 11 12"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.82123 4.99536L5.57227 1.2464L9.32123 4.99743"
                    stroke="#60D39C"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                  <path
                    d="M5.56978 10.2463L5.57227 1.24634"
                    stroke="#60D39C"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
            <div class="hero__item swiper-slide">
              <img
                loading="lazy"
                class="hero__item-img"
                src="./assets/image/about-slider-img-3.jpg"
                width="502"
                height="460"
                alt="Two girls are sitting at a table and working on a laptop"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
