.articles {
  padding: 160px 0;

  @include small-tablet {
    padding: 120px 0;
  }

  @include mobile {
    padding: 100px 0;
  }

  &__nav {
    @include flex-all-between;
    margin-bottom: 40px;

    @include small-tablet {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &-top {
      &-title {
        margin-bottom: 24px;
        font-weight: 600;
        letter-spacing: -0.04em;
        color: var(--neutral-color-100);
      }

      &-descr {
        margin-bottom: 80px;
        max-width: 435px;
        font-weight: 500;
        line-height: 178%;
        color: var(--neutral-color-150);

        @include small-tablet {
            margin-bottom: 45px;
        }
      }
    }
  }

  &__btns {
    @include flex-all-center;
    gap: 16px;
  }

  &__btn {
    @include flex-all-center;
    border: 1px solid var(--neutral-color-40);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    transition:
      background-color var(--transition),
      border-color var(--transition);

    @include small-mobile {
      width: 40px;
      height: 40px;
    }

    & svg path {
      transition: fill var(--transition);
    }

    &:hover {
      border-color: var(--neutral-color-100);
      background-color: var(--neutral-color-100);

      & svg path {
        fill: var(--neutral-color-10);
      }
    }

    &--next {
      transform: rotate(180deg);
    }
  }

  &__item {
    &-title {
      margin-bottom: 16px;
      max-width: 407px;
      font-weight: 600;
      line-height: 131%;
      letter-spacing: -0.03em;
      color: var(--neutral-color-100);
    }

    &-descr {
      margin-bottom: 24px;
      max-width: 403px;
      font-weight: 500;
      line-height: 178%;
      color: var(--neutral-color-150);
    }

    &-btn {
      border: 1px solid var(--neutral-color-40);
      padding: 16px 45px;
      color: var(--neutral-color-140);
    }
  }

  &__content {
    max-width: 406px;
  }
}
