<section class="hero">
  <div class="hero-decors">
    <div class="container">
      <h2 class="hero__title heading-h2">Activity & Updates</h2>
      <p class="hero__subtitle text-p-subtitle">
        Our biggest challenge is making sure we're <br />
        always designing and building products that <br />
        will help you run your business better.
      </p>
      <div class="hero__tabs text-p-default">
        <div class="hero__tabs-nav">
          <button class="hero__tabs-btn" data-tab="#all-slide" type="button">
            View all
          </button>
          <button class="hero__tabs-btn" data-tab="#design-slide" type="button">
            Design
          </button>
          <button
            class="hero__tabs-btn"
            data-tab="#article-slide"
            type="button"
          >
            Articles
          </button>
          <button
            class="hero__tabs-btn"
            data-tab="#product-slide"
            type="button"
          >
            Product
          </button>
          <button
            class="hero__tabs-btn"
            data-tab="#software-slide"
            type="button"
          >
            Software Development
          </button>
          <button
            class="hero__tabs-btn"
            data-tab="#customer-slide"
            type="button"
          >
            Customer Success
          </button>
        </div>
        <div class="hero__tabs-content">
          <div
            id="all-slide"
            class="swiper hero__slider-all hero__tabs-content-item"
          >
            <div class="hero__slider-btns">
              <svg
                width="28"
                height="18"
                viewBox="0 0 28 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                  stroke="#7E8492"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="hero__slider swiper-wrapper">
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img1.jpg"
                  alt="A girl is sitting at a table near a laptop and drinking tea"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="hero__article-descr">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img2.jpg"
                  alt="Two girls are sitting at a table near a laptop"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="hero__article-descr">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img3.jpg"
                  alt="Man and woman give each other five"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="hero__article-descr">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img4.jpg"
                  alt="The team is holding a meeting"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Elements that may be missed when designing the UI
                </h3>
                <p class="hero__article-descr">
                  This is an article that talks about the little elements that
                  are often overlooked when designing UI.
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img5.jpg"
                  alt="A guy and a girl are looking at a laptop"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  List of UX Designer Portfolio
                </h3>
                <p class="hero__article-descr">
                  Here are some portfolios / Case Studies from UX Designers that
                  you can use as a reference for creating a portfolio. Two
                  interesting things from their portfolio are:
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img3.jpg"
                  alt="Man and woman give each other five"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="hero__article-descr">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </div>
            </div>
          </div>
          <div
            id="design-slide"
            class="swiper hero__slider-design hero__tabs-content-item"
          >
            <div class="hero__slider-btns">
              <svg
                width="28"
                height="18"
                viewBox="0 0 28 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                  stroke="#7E8492"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="hero__slider swiper-wrapper">
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img1.jpg"
                  alt="A girl is sitting at a table near a laptop and drinking tea"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="hero__article-descr">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img2.jpg"
                  alt="Two girls are sitting at a table near a laptop"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="hero__article-descr">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img3.jpg"
                  alt="Man and woman give each other five"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="hero__article-descr">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img1.jpg"
                  alt="A girl is sitting at a table near a laptop and drinking tea"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Practice making User Flow
                </h3>
                <p class="hero__article-descr">
                  In this article, we'll cover how to create user flows
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img2.jpg"
                  alt="Two girls are sitting at a table near a laptop"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Overview of the Design Principles
                </h3>
                <p class="hero__article-descr">
                  What are Design Principles?… To understand design principles,
                  we first discuss the principles.
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img3.jpg"
                  alt="Man and woman give each other five"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Using Grid in website design
                </h3>
                <p class="hero__article-descr">
                  Andi: "What's the grid like?" Toni: “Like below…”
                </p>
              </div>
            </div>
          </div>
          <div
            id="article-slide"
            class="swiper hero__slider-articles hero__tabs-content-item"
          >
            <div class="hero__slider-btns">
              <svg
                width="28"
                height="18"
                viewBox="0 0 28 18"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                  stroke="#7E8492"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
            <div class="hero__slider swiper-wrapper">
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img5.jpg"
                  alt="A guy and a girl are looking at a laptop"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  List of UX Designer Portfolio
                </h3>
                <p class="hero__article-descr">
                  Here are some portfolios / Case Studies from UX Designers that
                  you can use as a reference for creating a portfolio. Two
                  interesting things from their portfolio are:
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img3.jpg"
                  alt="Man and woman give each other five"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Skyrocketing in The Designing Career, Why Not?
                </h3>
                <p class="hero__article-descr">
                  Ever thought of jumping into the world of design as a career?
                  If not, you may want to look at what the word ‘design’
                  actually means. Design is a method of designing aesthetic
                  actions that are carried out.
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img4.jpg"
                  alt="The team is holding a meeting"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Elements that may be missed when designing the UI
                </h3>
                <p class="hero__article-descr">
                  This is an article that talks about the little elements that
                  are often overlooked when designing UI.
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img5.jpg"
                  alt="A guy and a girl are looking at a laptop"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  List of UX Designer Portfolio
                </h3>
                <p class="hero__article-descr">
                  Here are some portfolios / Case Studies from UX Designers that
                  you can use as a reference for creating a portfolio. Two
                  interesting things from their portfolio are:
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img3.jpg"
                  alt="Man and woman give each other five"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Skyrocketing in The Designing Career, Why Not?
                </h3>
                <p class="hero__article-descr">
                  Ever thought of jumping into the world of design as a career?
                  If not, you may want to look at what the word ‘design’
                  actually means. Design is a method of designing aesthetic
                  actions that are carried out.
                </p>
              </div>
              <div class="swiper-slide hero__article">
                <img
                  loading="lazy"
                  class="hero__article-img"
                  src="./assets/image/blog-slider-img4.jpg"
                  alt="The team is holding a meeting"
                  width="515"
                  height="428"
                />
                <div class="hero__article-head text-p-small">
                  <div class="hero__article-date">
                    Published in Insight
                    <time datetime="2024-01-30">Jan 30, 2024</time>
                  </div>
                </div>
                <h3 class="hero__article-title heading-h5">
                  Elements that may be missed when designing the UI
                </h3>
                <p class="hero__article-descr">
                  This is an article that talks about the little elements that
                  are often overlooked when designing UI.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
