.quote {
  &__container {
    @include flex-all-between;
    padding: 80px 0;

    @include small-tablet {
        gap: 70px;
        justify-content: center;
    }

    @include mobile {
        gap: 30px;
        flex-direction: column;
        padding: 50px 0;
        text-align: center;
    }
  }

  &__title {
    max-width: 480px;
    font-weight: 600;
    letter-spacing: -0.04em;
    color: var(--neutral-color-100);

    @include mini-desktop {
        max-width: 380px;
        font-size: 46px;
    }

    @include tablet {
        font-size: 32px;
    }

    @include small-tablet {
        max-width: 280px;
        font-size: 26px;
    }

    @include mobile {
        font-size: 32px;
    }
  }

  &__descr {
    max-width: 522px;
    font-weight: 600;
    line-height: 150%;
    color: var(--neutral-color-100);

    @include mini-desktop {
        max-width: 422px;
        font-size: 18px;
    }

    @include tablet {
        font-size: 16px;
    }

    @include small-tablet {
        max-width: 322px;
        font-size: 14px;
    }

    @include mobile {
        max-width: 222px;
        font-size: 14px;
    }
  }
}
